
<div class="task-item">
    <div class="flex gap-3 items-start">
        <p-checkbox [(ngModel)]="checked" [binary]="true" />
        <div class="">
            <h5 class="text-base text-primary-800 dark:text-primary-100 font-medium">
                Review project proposal
            </h5>
            <span class="text-xs text-primary-600 dark:text-primary-200">Due 6:00 pm</span>
        </div>
        <div class="ms-auto">
            <span class="bg-red-500 rounded w-3 h-3 p-1 block"></span>
        </div>
    </div>
</div>
